.post-card {
  background-color: #181818;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
}

.post-card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.post-card-content {
  padding: 12px;
  font-size: 13px;
}

.post-card-user,
.post-card-title,
.post-card-body {
  margin: 4px 0;
}

.post-card-readmore {
  display: inline-block;
  margin-top: 8px;
  color: #0b84ff;
  text-decoration: none;
  font-size: 12px;
}
